<!DOCTYPE <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The League of Ordinary Gentlemen's Fantasy Statistics</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    
  </head>
<body>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse">
        <a class="navbar-brand" href="/">Home</a>
        <ul class="navbar nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown">
              Teams
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Aces Up My Sleeve</a>
              <a class="dropdown-item" href="#">Bryce Bryce Baby</a>
              <a class="dropdown-item" href="#">Clinton LumberKings</a>
              <a class="dropdown-item" href="#">Disabled List</a>
              <a class="dropdown-item" href="#">Gone Fishing</a>
              <a class="dropdown-item" href="#">Mookie Conster</a>
              <a class="dropdown-item" href="#">Piss Poor Manager</a>
              <a class="dropdown-item" href="#">Sure Thing</a>
              <a class="dropdown-item" href="#">YABO CITY</a>
              <a class="dropdown-item" href="#">Yu Eaton Dickie</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Season Averages</a>
              <a class="dropdown-item" href="#">Points Rankings</a>
            </div>
          </li>
          <li class="nav-item">Discussions</li>
        </ul>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <% if(!currentUser){ %>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/register">Signup</a>
          </li>
          <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          <% } %>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <% if(error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0) { %>
    <div clas="alert alert-success" role="alert">
      <%= success %>
    </div>
    <% } %>
  </div>

  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  