<% include ../partials/header %>

<div class="container">
  <div class="row"> 
    <div class="col-lg-12">
      <h4>Data Explanation</h4>
      <hr>
      <p>
        This data is the weekly average of each statistical category used in our fantasy baseball league.
        Therefore, AVG, OPS, ERA, and WHIP are not the same as if you just measured those stats with your team
        week by week. They are just the average of each weekly result. So ERA is the average of each weekly result
        in the ERA category, not what your team's ERA was over the specified length of time.
      </p>
      <p>
        The first half averages are from weeks 1-15. The second half averages are from weeks 16-22.
        I didn't do any postseason stats since not everyone was paying attention to their team at that point.
        Which, I guess a couple people really didn't pay much attention to their team throughout the season anyway,
        but whatever.
      </p>
      <div id="table">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">Team Name</th>
          </tr> 
          </thead>
          <tbody>
            <% teams.forEach(function(team) { %>
              <tr>
                <td>
                  <a href="/teams/<%= team._id %>">
                  <%= team.name %></a>
                </td>
              </tr>
            <% }) %>
          </tbody>
          
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>