<% include partials/header %>

<h1>Login</h1>

<form action="/login">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
</form>

<% include partials/footer %>