/* header file */

body {
  display: flex;
  flex-direction: column;
}

.navbar {
  background-color: #A3A9F0;
}

.navbar .collapse .navbar-brand {
  font-weight: bold;
}

.navbar .collapse .navbar-nav .nav-item .nav-link{
  color: black;
}



/* home/landing page */

/* body {
  background-image: url(http://www.trbimg.com/img-5965135d/turbine/ct-wrigley-field-in-mix-for-future-all-star-game-20170711);
  background-size: 100% 100%;
} */

#home-title {
  text-align: center;
  /* border: 1px solid red; */
  margin-top: 10px;
  text-decoration: underline;
}

body .landing-login {
  display: block;
  margin: auto;
  text-align: center;
  /* border: 1px solid red;
  background-color: yellow; */
  width: 250px;
  padding: 20px 20px;
  /* box-sizing: border-box; */
}

body .landing-login form input {
  margin: 10px 10px;
  
}

body .landing-login form button {
  margin-top: 10px;
  width: 180px; 
}

body .landing-login p {
  width: 200px;
  text-align: center;
}

/* Discussions comment page */

.discussion-comments {
  list-style: none;
}

/* Register/sign up page */

body .register-form {
  display: block;
  margin: auto;
  text-align: center;
  width: 250px;
  padding: 20px 20px;
}

body .register-form form input {
  margin: 10px 10px;
}

body .register-form form button {
  margin-top: 10px;
  width: 180px;
}